// Style global element body
body {
  background-color: #fff;
  font-family: "Assistant", sans-serif;
  color: #071c4d;
}

// START NAVBAR
// Membatasi ukuran logo brand homepage
.navbar-brand {
  img {
    max-height: 40px;
  }
}

// Color text navbar link
.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #071c4d;

      &.active {
        font-weight: 700;
        color: #071c4d !important;
      }
    }
  }
}

// Custom CTA button navbar no radius
.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;

  height: 70px;
  border-radius: 0;
}

// Style tombol login
.btn-login {
  background-color: #071c4d;
  color: #fff;

  // state hover button
  &:hover {
    background-color: #1e3771;
    color: #fff;
  }
}
// END NAVBAR

// START HEADER
header {
  padding: 180px 0px 165px;
  margin-top: -70px;
  background-image: url("../images/header-background@2x.jpg");
  background-size: cover;

  h1,
  p {
    color: #fff;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 50px;
  }

  p {
    font-size: 22px;
  }

  .btn-get-started {
    background-color: #ff9e53;
    color: #fff;

    &:hover {
      background-color: #ffaa69;
      color: #fff;
    }
  }
}
// END HEADER

// START STATISTICS
.section-stats {
  margin-top: -50px;

  .stats-detail {
    padding-top: 15px;
    background-color: #fff;
    padding-left: 40px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 0;
  }

  p {
    font-size: 20px;
    font-weight: 300;
  }
}
// END STATISTICS

// START POPULAR
.section-popular {
  min-height: 540px;
  background-color: #051334;
  margin-top: -50px;
  margin-bottom: -200px;

  .section-popular-heading {
    margin-top: 150px;

    h2,
    p {
      color: #fff;
    }

    h2 {
      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 40px;
    }

    p {
      font-size: 18px;
    }
  }
}
// END POPULAR

// START POPULAR CONTENT
.section-popular-content {
  .section-popular-travel {
    .card-travel {
      min-height: 380px;
      background-color: #ddd;
      color: #fff;
      padding: 30px;
      background-size: cover;
      margin-bottom: 20px;

      .travel-country {
        font-size: 18px;
      }

      .travel-location {
        font-size: 26px;
      }

      .travel-button {
        .btn-travel-details {
          background-color: #ff9e53;
          color: #fff;

          &:hover {
            background-color: #ffaa69;
            color: #fff;
          }
        }
      }
    }
  }
}
// END POPULAR CONTENT

// START SECTION NETWORKS
.section-networks {
  background-color: #fff;
  margin-top: -200px;
  padding-top: 240px;
  padding-bottom: 50px;

  h2 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }

  img {
    max-width: 100%;
  }
}
// END SECTION NETWORKS

// START SECTION TESTIMONIALS
.section-testimonial-heading {
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;

  h2 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  }

  p {
    font-size: 18px;
  }
}

.section-testimonial-content {
  margin-top: -300px;
  padding-top: 50px;

  .card-testimonial {
    padding: 40px 20px 10px;
    border-radius: 11px;
    margin-bottom: 20px;

    .testimonial-content {
      min-height: 380px;
    }

    h3 {
      font-size: 22px;
    }

    .testimonials {
      font-size: 26px;
      color: #6e6e6e;
      font-weight: 200;
      // min-height: 180px;
    }

    hr {
      margin-left: -20px;
      margin-right: -20px;
    }

    .trip-to {
      font-weight: normal;
      font-size: 22px;
      color: #6e6e6e;
    }
  }

  .btn-get-started {
    background-color: #ff9e53;
    color: #fff;

    &:hover {
      background-color: #ffaa69;
      color: #fff;
    }
  }

  .btn-need-help {
    background-color: #f2f2f2;
    color: #c3c3c3;

    &:hover {
      background-color: #fafafa;
      color: #c3c3c3;
    }
  }
}
// END SECTION TESTIMONIALS

// START SECTION FOOTER
.section-footer {
  a {
    color: #071c4d;
  }
}
// END SECTION FOOTER

// START DETAIL PAGE

// START DETAIL HEADER
.section-details-header {
  min-height: 300px;
  margin-top: -70px;
  background: #e4e6eb;
}
// END DETAIL HEADER

// START DETAIL CONTENT
.section-details-content {
  margin-top: -200px;
  min-height: 100vh;

  .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 30px;
  }

  .breadcrumb-item {
    a {
      color: #071c4d;
    }
    &.active {
      font-weight: 700;
    }
  }
}

.card-details {
  padding: 30px;
  border-radius: 11px;

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
    color: #b1b1b1;
  }

  .features {
    margin-top: 20px;
  }

  h3 {
    font-size: 18px;
    color: #071c4d;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }

  .description {
    margin-left: 10px;
    overflow: hidden;
    float: left;
  }

  .features-image {
    width: 45px;
    height: 45px;
    float: left;
  }
}
// END DETAIL CONTENT

// END DETAIL PAGE
